# Environment variables
.env

# Python virtual environment
venv/
.venv/

# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode and IDE settings (optional, but handy)
.vscode/
.idea/

#Logs
events/event_results/
events/framework_logs/
logs/*.txt
logs/*.json